---
BasedOnStyle:  Mozilla
---
Language:                               Cpp
AllowShortIfStatementsOnASingleLine:    false
AlwaysBreakAfterDefinitionReturnType:   None
AlwaysBreakAfterReturnType:             None
ColumnLimit:                            0
ConstructorInitializerIndentWidth:      4
ContinuationIndentWidth:                4
IndentWidth:                            4
SpacesInCStyleCastParentheses:          false
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     true
  AfterUnion:      true
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
...
